# Secrets
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
/synology/garage/.env
# Template config files
/cluster.toml
# Kubernetes
kubeconfig
talosconfig
# Misc.
.claude/
.private/
.terraform/
.venv/
.DS_Store
Thumbs.db
